@page "{studentId:int}"
@model StudentApp.Pages.Students.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail @Model.Student.Name
    </h1>
<h2>Id : @Model.Student.Id</h2>
<h2>Address : @Model.Student.Address</h2>
<h2>Skill : @Model.Student.Skill</h2>

<a asp-page="./List">Back List</a>

