@page
@model StudentApp.Pages.Students.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <input type="hidden" asp-for="Student.Id" />

    <div class="form-group">
        <label asp-for="Student.Name"></label>
        <input asp-for="Student.Name" />
        <span class="text-danger" asp-validation-for="Student.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Student.Address"></label>
        <input asp-for="Student.Address" />
        <span class="text-danger" asp-validation-for="Student.Address"></span>

    </div>

    <div class="form-group">
        <label asp-for="Student.Skill"></label>
        <select asp-for="Student.Skill" asp-items="Model.Skills">
            
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

